@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Bruno Ace", sans-serif;
}

body {
  background-image: url("/images/bg.jpg");
}
