.navbar {
  color: white;
  text-decoration: none;
}
.header {
  height: 10vh;
}

.logo {
  width: 40px;
  height: 60px;
}

.pageLinks {
  display: flex;
  gap: 1.5rem;
}

.contactIcons {
  display: flex;
  gap: 1.5rem;
  .icon {
    width: 40px;
    height: 45px;
  }
}

@media (max-width: 575px) {
  .contactIcons {
    .icon {
      width: 30px;
      height: 32px;
    }
  }
}
