.navbar {
  color: white;
  text-decoration: none;
}
.header {
  height: 10vh;
}

.logo {
  width: 40px;
  height: 60px;
}

.pageLinks {
  display: flex;
  gap: 1.5rem;
}

.contactIcons {
  display: flex;
  gap: 1.5rem;
  .icon {
    width: 40px;
    height: 45px;
  }
  .contactIconWpp {
    animation: toFloat 1.5s infinite ease-in-out;
  }
  .contactIconGit {
    animation: toFloat 1.3s infinite ease-in-out;
  }
  .contactIconIn {
    animation: toFloat 1.4s infinite ease-in-out;
  }

  @keyframes toFloat {
    50% {
      transform: translateY(-4%);
    }
  }
}

@media (max-width: 575px) {
  .contactIcons {
    .icon {
      width: 30px;
      height: 32px;
    }
  }
}
